name = "kali-sessions"
main = "src/worker.ts"
compatibility_date = "2024-01-29"

routes = [
  { pattern = "kali.chewbacca.dev", custom_domain = true }
]

[[containers]]
class_name = "KaliSession"
image = "./container/Dockerfile"
max_instances = 1
instance_type = "standard-4"

[containers.constraints]
regions = ["oc"]


[[durable_objects.bindings]]
name = "KALI_SESSION"
class_name = "KaliSession"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["KaliSession"]

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1